<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<a th:href="@{/admin/categories/{category}/add(category=${category})}">Add item</a>
<div th:each="item : ${items}">
    <h3 th:text="${item.getName()}">item</h3>
    <img th:src="@{/images/{id}.jpg(id=${item.getId()})}" alt="image" width="120"/>
    <p th:text="'Amount: ' + ${item.getAmount()}">item</p>
    <form method="POST" th:action="@{/admin/categories/{category}/{id}(category=${category}, id=${item.getId()})}">
        <label for="amount">Enter amount:</label>
        <input type="number" name="amount" id="amount" th:min="0" th:max="2147483647">
        <input type="submit" value="Change"/>
    </form>
    <br/>
    <form th:method="DELETE" th:action="@{/admin/categories/{category}/{id}(category=${category}, id=${item.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>
</body>
</html>