<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:insert="~{exit :: exit}"></div>
<div th:each="user : ${users}">
    <p th:text="${user.toString()}">user</p>
    <a th:href="@{/admin/users/{id}/orders(id=${user.getId()})}" th:text="'View orders'">user</a>
    <br/>
    <br/>
    <form th:method="post" th:action="@{/admin/users/{id}/lock(id=${user.getId()})}">
        <input type="submit" value="Lock">
    </form>
    <hr/>
</div>
</body>
</html>