<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<span th:if="${items.size()==0}" th:text="'Cart is empty!'"/>
<div th:each="orderItem : ${items}">
    <p th:text="${orderItem.getItem().getName()} + ', amount: ' + ${orderItem.getAmount()}">item</p>
    <form th:method="delete" th:action="@{/user/cart/{id}(id=${orderItem.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>
</body>
</html>