<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body>
<div th:insert="~{exit :: exit}"></div>
<h2 th:text="${item.getName()}"/>
<img th:src="@{/images/{id}.jpg(id=${item.getId()})}" alt="image" width="150"/>
<form method="POST" th:action="@{/catalog/{category}/{id}(id=${item.getId()}, category=${item.getCategory()})}">
    <label for="amount">Enter amount of item</label>
    <input type="number" name="amount" id="amount" th:min="1" th:max="${item.getAmount()}">
    <input type="submit" value="Add to cart"/>
</form>
</body>
</html>